OLLAMA_BASE_URL=https://localhost:11434/v1
OLLAMA_API_KEY=your-api-key-here
BACKEND_OLLAMA_MODEL=model-name
FRONTEND_OLLAMA_MODEL=model-name
MAX_AGENT_STEPS=20

EMBEDDING_MODEL_NAME=embedding-model-name

HYBRID_SEARCH_MULTIPLIER=100
LLM_RERANK_MULTIPLIER=2

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL=3600

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=123123
POSTGRES_DB=neograg

JWT_SECRET=your-super-secret-key
JWT_EXPIRE_MINUTES=3600

CHROMA_HNSW_SPACE=cosine
CHROMA_EF_CONSTRUCTION=200
CHROMA_EF_SEARCH=100
CHROMA_MAX_NEIGHBORS=32

NEXT_PUBLIC_API_URL=backend-api-url
