langchain
langchain-community
langchain-text-splitters
sentence-transformers
underthesea
chromadb
docling
easyocr
igraph
leidenalg
openai
networkx
torch
torchvision
rank_bm25
redis
fastapi
uvicorn
python-dotenv
pydantic
python-docx
tqdm
python-jose[cryptography]
psycopg2-binary
python-multipart
passlib
email-validator
cryptography
dnspython
cffi
bcrypt